.card {
  width: 100%;
  max-width: 1280px;
  margin-top: 50px;
  border-radius: 20px;
  /*display: grid;
  grid-template-columns: minmax(150px, 200px) minmax(300px, 1180px);
  grid-template-rows: 1fr 4fr;*/
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 5px rgba(0,0,0,0);
  overflow: hidden;
  display: flex;
}

.left {
  width: 20%;
  min-width: 120px;
  border-right: 1px solid;
  display: flex;
  justify-content: center;
}

.left img {
  width: 80%;
  object-fit: contain;
}

.right {
  width: 80%;
  padding: 20px 20px;
  font-size: 1.2rem;
}

.text {
  overflow: hidden;
  padding: 0;
  max-height: 300px;
}

.right p {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.right h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Nunito, Roboto, Helvetica, Arial, sans-serif;
}

.collapser {
  margin: 20px 0px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  width: 40%;
  height: 1px;
  border-bottom: 1px solid white;
}

.cButton {
  height: 100%;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cButton:hover {
  cursor: pointer;
}

.cButton p {
  margin: 0;
}

.tech {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tech p {
  margin: 0;
  text-decoration: underline;
}

.tech a {
  margin: 0;
  text-decoration: none;
  color: rgb(173, 216, 230);
}

.tech a:hover {
  color: rgb(120, 200, 200);
}

.tech a:visited {
  color: rgb(150, 150, 220);
}

.tech a::after {
  content: ",";
}

.tech a:last-child::after {
  content: "";
}