/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.card {
  margin-top: 50px;
  width: 100%;
  max-width: 1280px;
  border-radius: 20px;
  /*display: grid;
  grid-template-columns: minmax(150px, 200px) minmax(300px, 1180px);
  grid-template-rows: 1fr 4fr;*/
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 5px rgba(0,0,0,0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.left {
  width: 20%;
  min-width: 120px;
  border-right: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.right {
  width: 80%;
  padding: 20px 20px;
  font-size: 1.2rem;
}

.text {
  overflow: hidden;
  padding: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.right p {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.right h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Nunito, Roboto, Helvetica, Arial, sans-serif;
}

.collapser {
  margin: 20px 0px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line {
  width: 40%;
  height: 1px;
  border-bottom: 1px solid white;
}

.cButton {
  height: 100%;
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cButton:hover {
  cursor: pointer;
}

.cButton p {
  margin: 0;
}

.tech {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
}

.tech p {
  margin: 0;
  text-decoration: underline;
}

.tech a {
  margin: 0;
  text-decoration: none;
  color: rgb(173, 216, 230);
}

.tech a:hover {
  color: rgb(120, 200, 200);
}

.tech a:visited {
  color: rgb(150, 150, 220);
}

.tech a::after {
  content: ",";
}

.tech a:last-child::after {
  content: "";
}

@media screen and (max-width: 600px) {
  .left {
    display: none;
  }
}